{% extends "base.html" %}
{% block title %}Užduoties sukūrimas/redagavimas{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Užduoties sukūrimas/redagavimas</legend>
            {{ form|crispy }}
        </fieldset>
     <div class="form-group">
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'nauja-uzduotis' uzduotis.pk %}">Redaguoti</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'istrinti-uzduotis' uzduotis_id %}">Ištrinti</a>
    </div>

    </form>
    </div>
{% endblock content %}
